<% if flash.empty? %>
    <%= image_tag(@image.url) %>
    <br>
<% else %>

    <ul>
      <% flash.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>

<% end %>
